
.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  .body-footer {
    opacity: 0.2;
    background: #060e39;
    width: 100%;
    padding: 12px;
  }
  .text-footer {
    font-size: 15px;
    color: #ffffff;
    display: inline;
    .content-textfooter {
      display: inline;
    }
  }
  .icon-footer {
    float: right;
    color: #ffffff;
    cursor: pointer;
  }
  .stl-icon {
    margin: 0px 8px;
  }
}
