
.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  .body-footer {
    background: rgba(6, 14, 57, .5);
    width: 100%;
    padding: 12px;
  }
  .text-footer {
    font-size: 15px;
    color: #ffffff;
    display: inline;
    .content-textfooter {
      display: inline;
    }
  }
  .icon-footer {
    float: right;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    &:hover {
      color: #ffffff;
    }
  }
  .stl-icon {
    margin: 0px 8px;
  }
}
