.header-content{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}
.body-header {
  width: 100%;
  .logo {
    float: left;
  }
  .menu {
    float: right;
    display: flex;
    margin:15px 10px;
  }
}

.stl-img {
  margin: 25px;
}
.body-booknow {
  background-image:linear-gradient(-180deg, #5896cf 0%, #2f68b1 100%);
  border-radius:3px;
  width:139px;
  display: flex;
  height:36px;
  margin-right: 15px;
  cursor: pointer;
  color: #d8d3d3;
  .icon{
    width: 20px;
    height: 19px;
    padding: 8px 15px;
  }
  .title-booknow {
    font-family: roboto;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 10px 10px 15px;
    font-weight: 600;
  }
}
.body-booknow:hover {
  color: #ffffff;
  background-image:linear-gradient(-180deg, #5896cf 0%, #1e4982 100%);
}
.icon-menu {
  width:30px;
  height:30px;
  padding: 6px;
  color: #dcd4d4;
  cursor: pointer;
  :hover {
    color: #ffffff;
  }
}
