.header-content {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  width: 100%;
}
.body-header {
  width: 100%;
  .logo {
    float: left;
  }
  .menu {
    float: right;
    display: flex;
    margin:15px 10px;
  }
}

.stl-img {
  margin: 25px;
}
.body-booknow {
  background-image: -webkit-linear-gradient(-180deg, #5896cf 0%, #2f68b1 100%);
  border-radius: 3px;
  width: 139px;
  display: flex;
  height: 36px;
  margin-right: 15px;
  cursor: pointer;
  color: #d8d3d3;
  &:hover {
    color: #ffffff;
    background-image: -webkit-linear-gradient(-180deg, #5896cf 0%, #1e4982 100%);
  }
  .icon {
    width: 20px;
    height: 19px;
    padding: 8px 15px;
  }
  .title-booknow {
    font-family: roboto;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 10px 10px 15px;
    font-weight: 600;
  }
}

.icon-menu {
  width: 30px;
  height: 30px;
  padding: 6px;
  color: #dcd4d4;
  cursor: pointer;
  &:hover {
    color: #ffffff;
  }
}

// this is style menu
.content-menu {
  background: rgba(0,9,60,.7);
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  // transition: all .3s ease;
}

.close {
  background: rgba(17,17,14,.5);
  width: 27px;
  height: 27px;
  text-align: center;
  margin: 20px 12px;
  opacity: 1;
  border-radius: 100%;
  &:hover {
    background: #000000;
  }
  .icon-close {
    position: relative;
    width: 30px;
    height: 27px;
    &:before {
      content: "";
      height: 2px;
      width: 15px;
      background: white;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: 12px;
      left: 6px;
    }
    &:after {
      content: "";
      height: 2px;
      width: 15px;
      background: white;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      top: 12px;
      left: 6px;
    }
  }
}

.menu-top {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.menu-bottom {
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-menu {
  margin: 0px 50px;
  text-align: center;
  &:hover {
    cursor: pointer;
    color: #fff;
  }
  color: rgba(255,255,255,.5);
  .icon-menus {
    color: #ffffff;
    font-size: 48px;
    margin: auto;
    color: rgba(255,255,255,.5);
    &:hover {
      color: #fff;
    }
  }
  .title-menu {
    font-size: 18px;
  }
  .cl-home {
    color: #fff;
  }
}
