<!doctype html>
<html lang="en">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
      "title": "HTML Boilerplate"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>
  <body>
    @@include('../layouts/loadding.html')
    <div class="wrapper">
      <!-- include header.html -->
      @@include('../layouts/header.html')

      <!-- include banner.html -->
      @@include('../partials/banner.html')

      <section class="main-container">
        <div id="a" class="block-container">
          <div class="container-fluid">
            <div class="row">
              <div class="center">
                <div class="body-review">
                  <div class="bg-review" style="background-image: url('../../images/review/bg1.png')">
                    <div class="title-review">
                      <h3 class="title">Rates</h3>
                      <p class="text-rate">This villa comes with every conceivable luxury – and then some.</p>
                    </div>
                  </div>
                  <div class="container-review">
                    <div class="body-rate">
                      <div class="content-rate">
                        <h3 class="title">Villa Sen 2 bedrooms</h3>
                        <div class="description">
                          <p class="des-vllas"> - Double villas with 2 king-size bedrooms, outdoor bathtubs</p>
                          <p class="des-vllas"> - Share: large swimming pool, vast lounge areas: open living, dinning room, cinema and billards game.</p>
                          <p class="des-vllas">- Breakfast anytime anyplace</p>
                          <p class="des-vllas">- All spa treatments per person per day</p>
                          <p class="des-vllas">- Airport pick up or drop off</p>
                          <p class="des-vllas">- Complimentary Premium Internet Access - Wireless</p>
                          <p class="des-vllas">- Complimentary fully-stocked minibar</p>
                          <p class="des-vllas">- Kitchenette stocked with kitchenware including microwave and pantry</p>
                          <p class="des-vllas">- Complimentary  use of our bicycles</p>
                          <p class="des-vllas">- Vietnamese cooking demonstration</p>
                          <p class="des-vllas">- Bicycle tour to a local vegetable garden in Tra que village</p>
                          <p class="des-vllas">- Daily scheduled shutte by Soviet military Uaz or US minitary Jeep to/from ancient town and beach</p>
                        </div>
                        <p class="price">500USD/night</p>
                      </div>
                      <div class="content-rate">
                        <h3 class="title">Villa Sen 3 bedrooms</h3>
                        <div class="description">
                          <p class="des-vllas" >- Three villas with 3 king-size beds</p>
                          <p class="des-vllas" >- Large swimming pool, vast lounge areas: open living, dinning room, cinema and billards game</p>
                          <p class="des-vllas">- Breakfast anytime anyplace</p>
                          <p class="des-vllas">- All spa treatments per person per day</p>
                          <p class="des-vllas">- Airport pick up or drop off</p>
                          <p class="des-vllas">- Complimentary Premium Internet Access - Wireless</p>
                          <p class="des-vllas">- Complimentary fully-stocked minibar</p>
                          <p class="des-vllas">- Kitchenette stocked with kitchenware including microwave and pantry</p>
                        </div>
                        <p class="price">500USD/night</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <script>

      </script>
      <!-- include footer.html -->
      @@include('../layouts/footer.html')
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
