<!doctype html>
<html lang="en">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
      "title": "HTML Boilerplate"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>
  <body>
    <div class="wrapper">
      <!-- include header.html -->
      @@include('../layouts/header.html')

      <!-- include banner.html -->
      @@include('../partials/banner.html')

      <section class="main-container">
        <div id="a" class="block-container">
          <div class="container-fluid">
            <div class="row">
              <div class="center">
                <div class="body-review">
                  <div class="bg-review" style="background-image: url('../../images/review/bg2.png')">
                    <div class="title-review">
                      <h3 class="title">Reviews</h3>
                    </div>
                  </div>
                  <div class="container-review">
                    <div class="content-review">
                      <div class="pd15">
                        <p class="text">
                          <span class="fa fa-quote-left"></span>
                          Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                          <span class="fa fa-quote-right"></span>
                        </p>
                        <h4 class="title">Stuart & Olive, Indonesia</h4>
                        <p class="date">August 31st, 2016 - September 4th, 2016</p>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="pd15">
                        <p class="text">
                          <span class="fa fa-quote-left"></span>
                          Adi and team, what a beautiful place! We had an amazing time and the staff are wonderful. Thank you. We hope to be back one day soon.
                          <span class="fa fa-quote-right"></span>
                        </p>
                        <h4 class="title">Tamara K, Australia</h4>
                        <p class="date">August 31st, 2016 - September 4th, 2016</p>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="pd15">
                        <p class="text">
                          <span class="fa fa-quote-left"></span>
                          To the team at Seseh, thank you for all that you have done to make our stay here so wonderful. Best night ever. Thank you.
                          <span class="fa fa-quote-right"></span>
                        </p>
                        <h4 class="title">Melissa C, Indonesia</h4>
                        <p class="date">August 31st, 2016 - September 4th, 2016</p>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="pd15">
                        <p class="text">
                          <span class="fa fa-quote-left"></span>
                          Thank you to amazing staff - you have made our wedding a magical experience. The last 3 days have been so amazing!!! Thank you
                          <span class="fa fa-quote-right"></span>
                        </p>
                        <h4 class="title">Stuart & Olive, Indonesia</h4>
                        <p class="date">August 31st, 2016 - September 4th, 2016</p>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="pd15">
                        <p class="text">
                          <span class="fa fa-quote-left"></span>
                          Amazing venue, perfect service and beautiful people! Best wedding package ever. Fantastic experience and a wedding unforgettable.
                          <span class="fa fa-quote-right"></span>
                        </p>
                        <h4 class="title">Stuart & Olive, Indonesia</h4>
                        <p class="date">August 31st, 2016 - September 4th, 2016</p>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="pd15">
                        <p class="text">
                          <span class="fa fa-quote-left"></span>
                            “The villa was absolutely perfect for us in every way. The staff was amazing; nothing was too much trouble and everyone always.
                          <span class="fa fa-quote-right"></span>
                        </p>
                        <h4 class="title">Stuart & Olive, Indonesia</h4>
                        <p class="date">August 31st, 2016 - September 4th, 2016</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <script>

      </script>
      <!-- include footer.html -->
      @@include('../layouts/footer.html')
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
