<!doctype html>
<html lang="en">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
      "title": "HTML Boilerplate"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>
  <body>
    @@include('../layouts/loadding.html')
    <div class="wrapper">
      <!-- include header.html -->
      @@include('../layouts/header.html')

      <!-- include banner.html -->
      @@include('../partials/banner.html')

      <section class="main-container">
        <div id="a" class="block-container">
          <div class="container-fluid">
            <div class="row">
              <div class="center">
                <div class="body-review">
                  <div class="bg-review" style="background-image: url('../../images/review/bg2.png')">
                    <div class="title-review">
                      <h3 class="title">Reviews</h3>
                    </div>
                  </div>
                  <div class="container-review">
                    <div class="content-review">
                      <div class="st-review">
                        <div class="pd15">
                          <p class="text">
                            <span class="fa fa-quote-left"></span>
                            Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                            <span class="fa fa-quote-right"></span>
                          </p>
                          <h4 class="title">Stuart & Olive, Indonesia</h4>
                          <p class="date">August 31st, 2016 - September 4th, 2016</p>
                        </div>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="st-review">
                        <div class="pd15">
                          <p class="text">
                            <span class="fa fa-quote-left"></span>
                            Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                            <span class="fa fa-quote-right"></span>
                          </p>
                          <h4 class="title">Stuart & Olive, Indonesia</h4>
                          <p class="date">August 31st, 2016 - September 4th, 2016</p>
                        </div>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="st-review">
                        <div class="pd15">
                          <p class="text">
                            <span class="fa fa-quote-left"></span>
                            Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                            <span class="fa fa-quote-right"></span>
                          </p>
                          <h4 class="title">Stuart & Olive, Indonesia</h4>
                          <p class="date">August 31st, 2016 - September 4th, 2016</p>
                        </div>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="st-review">
                        <div class="pd15">
                          <p class="text">
                            <span class="fa fa-quote-left"></span>
                            Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                            <span class="fa fa-quote-right"></span>
                          </p>
                          <h4 class="title">Stuart & Olive, Indonesia</h4>
                          <p class="date">August 31st, 2016 - September 4th, 2016</p>
                        </div>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="st-review">
                        <div class="pd15">
                          <p class="text">
                            <span class="fa fa-quote-left"></span>
                            Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                            <span class="fa fa-quote-right"></span>
                          </p>
                          <h4 class="title">Stuart & Olive, Indonesia</h4>
                          <p class="date">August 31st, 2016 - September 4th, 2016</p>
                        </div>
                      </div>
                    </div>
                    <div class="content-review">
                      <div class="st-review">
                        <div class="pd15">
                          <p class="text">
                            <span class="fa fa-quote-left"></span>
                            Incredible venue, amazing and super friendly staff, stunning views, beautiful weddings, fun memories. Everything was perfect! Thank you.
                            <span class="fa fa-quote-right"></span>
                          </p>
                          <h4 class="title">Stuart & Olive, Indonesia</h4>
                          <p class="date">August 31st, 2016 - September 4th, 2016</p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <script>

      </script>
      <!-- include footer.html -->
      @@include('../layouts/footer.html')
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
