<!doctype html>
<html lang="en">
  <head>
    <!-- include head.html -->
    @@include('../layouts/head.html', {
      "title": "HTML Boilerplate"
    })
    <!-- include styles.html -->
    @@include('../layouts/styles.html')
  </head>
  <body>
    @@include('../layouts/loadding.html')
    <div class="wrapper">
      <!-- include header.html -->
      @@include('../layouts/header.html')

      <!-- include banner.html -->
      @@include('../partials/banner.html')

      <section class="main-container">
          <div id="a" class="block-container">
          <div class="container-fluid">
            <div class="row">
              <div class="center">
                <div class="item-home">
                  <div class="item-slider-villas">
                    <div class="thevillas-slider" style="background-image: url('../../images/contact/slider-contact1.png')">
                    </div>
                    <div class="title-slidervillas">
                      <p class="des-villa animation w3-animate-top effect-two">An Oasis Away From Home</p>
                      <h3 class="title-villas animation w3-animate-zoom effect-one">VILLAS SEN</h3>
                      <div class="booknow animation w3-animate-right effect-two">
                        <div class="content-booknow">
                          <p class="title-viewore">Book now</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-slider-villas">
                    <div class="thevillas-slider" style="background-image: url('../../images/contact/slider-contact2.png')">
                    </div>
                    <div class="title-slider-living animated w3-animate-zoom">
                      <div class="boder-living"></div>
                      <h3 class="title-living">Layout</h3>
                      <p class="des-living">Nestled amongst lawns, Villa Sen is a tranquil retreat from the busyness of modern life. Completed with complimentary wifi network and a personal guest assistant, Villa Mai is a cluster of eight parashrea stellata wooden chest houses and two cottages that can comfortably house you, your family, and friends.</p>
                    </div>
                  </div>
                  <div class="item-slider-villas">
                    <div class="thevillas-slider" style="background-image: url('../../images/contact/slider-contact4.png')">
                    </div>
                    <div class="title-slider-living animated w3-animate-zoom">
                      <div class="boder-living"></div>
                      <h3 class="title-living">Living area</h3>
                      <p class="des-living">The villa has a spacious living room, partially surrounded by a water lily pond overlooking the deck and swimming pool. The living room features an exquisite  Vietnamese craftsmanship  from wooden furnishings to artistic wood carvings.</p>
                    </div>
                  </div>
                  <div class="item-slider-villas">
                    <div class="thevillas-slider" style="background-image: url('../../images/contact/slider-contact5.png')">
                    </div>
                    <div class="title-slider-living title-slider-quich animated w3-animate-zoom">
                      <div class="boder-quich-tast"></div>
                      <h3 class="title-quich-tast">Quich facts</h3>
                      <div class="des-quich">
                        <div class="content-des-quich">
                          <h4 class="title-des-quich">Location</h4>
                          <p class="text-des-quich">Dong Na village, north-east Hoi An, Viet Nam.</p>
                        </div>
                        <div class="content-des-quich">
                          <h4 class="title-des-quich">Capacity</h4>
                          <p class="text-des-quich">10 guests (5 king-size beds)</p>
                        </div>
                        <div class="content-des-quich">
                          <h4 class="title-des-quich">Living Area</h4>
                          <p class="text-des-quich">Open living, dining room with table for 20; cinema and pool table in game room</p>
                        </div>
                        <div class="content-des-quich">
                          <h4 class="title-des-quich">Poll</h4>
                          <p class="text-des-quich">25x5m</p>
                        </div>
                        <div class="content-des-quich">
                          <h4 class="title-des-quich">staff</h4>
                          <p class="text-des-quich">10 Shared between villa Sen and villa Mai are a villa manager; private chef; villa attendants; security; gardener and maintenance team. Additional staff</p>
                        </div>
                        <div class="content-des-quich">
                          <h4 class="title-des-quich">Dining</h4>
                          <p class="text-des-quich">Western, Asian, vegetarian, healthy choice and children’s dishes</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>
      <script>

      </script>
      <!-- include footer.html -->
      @@include('../layouts/footer.html')
    </div>
    <!-- include scripts.html -->
    @@include('../layouts/scripts.html')
  </body>
</html>
