.item-villa {
  @extend .st-pos-img;
  width: 23%;
  height: 180px;
  z-index: 3;
  display: inline-block;
  margin: 10px 15px;
  position: relative;
  &:before {
    @include linear-gradient-allbum(top, rgba(10, 10, 10, 0), #000, #000);
    bottom: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
  }
}

.gallery-slider {
  @extend .st-pos-img;
  position: relative;
  width: 100%;
  height: 100vh !important;
}
.body-gallery {
  display: none;
  position: absolute;
  top: 21%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.title-villa {
  font-size: 17px;
  letter-spacing: 1.11px;
  text-shadow: 0px 2px 4px $color-black;
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.txt-link {
  color: $color-link;
  &:hover {
    color: $color-white;
  }
}
// this is style detail gallery-slider
.gallerydetail-slider {
  @extend .st-pos-img;
  position: relative;
  width: 100%;
  height: 100vh !important;
}
.body-img {
  position: absolute !important;
  bottom: 6%;
  width: 100%;
  z-index: 2;
}
.item-villadetail {
  @extend .st-pos-img;
  width: 170px ;
  height: 98px !important;
  border: 2px solid $color-white;
  margin: 0px -1px 0px -2px;
  cursor: pointer;
}
.next-prev {
  .left {
    position: absolute;
    font-size: 60px;
    color: $color-icon-next;
    cursor: pointer;
    top: 50%;
    left: 3%;
    @include transform(translate(-2%, -50%));
    &:hover {
      color: $color-white;
    }
  }
  .right {
    @extend .left;
    left: 96%;
  }
}
