<!-- <section class="banner-container">
  <div class="block-container">
    <div class="container-fluid">
      <div class="row">
        <div class="center">
          <div class="col-xs-12">
            <div class="login-form">
              <p class="title-block">Banner</p>
              <div class="col-md-12">
                <div class="col-md-6">
                  <p>demo1</p>
                </div>
                <div class="col-md-6">
                  <p>demo2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section> -->
