<footer class="footer-container">
  <div class="container-fluid">
    <div class="row">
      <div class="center">
        <div class="body-footer">
          <div class="text-footer">
            <p class="content-textfooter">© 2017 Allamanda Estate. All Rights Reserved</p>
          </div>
          <div class="icon-footer">
            <i class="fa fa-facebook-f stl-icon"></i>
            <i class="fa fa-youtube stl-icon"></i>
            <i class="fa fa-instagram stl-icon"></i>
            <i class="fa fa-twitter stl-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>
