<header class="header-container">
  <div class="header-content">
    <div class="container-fluid">
      <div class="row">
        <div class="center">
          <div class="body-header">
            <div class="logo">
              <a href="#">
                <img class="stl-img" src="../../images/logowhite.png" alt="logo">
              </a>
            </div>
            <div class="menu">
              <div class="book-now">
                <div class="body-booknow">
                  <div class="icon">
                    <span class="fa fa-bell"></span>
                  </div>
                <h3 class="title-booknow">Book Now</h3>
                </div>
              </div>
              <div class="icon-menu">
                <span class="fa fa-bars"></span>
              </div>
              <div class="content-menu">
                <div class="close">
                  <span class="fa fa-times icon-close"></span>
                </div>
                <div class="body-menu">
                  <div class="menu-top">
                    <div class="item-menu">
                      <div class="icon-menus cl-home">
                        <span class="fa fa-home "></span>
                      </div>
                      <p class="title-menu cl-home">The Villas</p>
                    </div>
                    <div class="item-menu">
                      <div class="icon-menus">
                        <span class="fa fa-delicious"></span>
                      </div>
                      <p class="title-menu">The Deatail</p>
                    </div>
                    <div class="item-menu">
                      <div class="icon-menus">
                        <span class="fa fa-globe "></span>
                      </div>
                      <p class="title-menu">Locction</p>
                    </div>
                  </div>
                  <div class="menu-bottom">
                    <div class="item-menu">
                      <div class="icon-menus">
                        <span class="fa fa-image"></span>
                      </div>
                      <p class="title-menu">gallery</p>
                    </div>
                    <div class="item-menu">
                      <div class="icon-menus">
                        <span class="fa fa-retweet "></span>
                      </div>
                      <p class="title-menu">Review</p>
                    </div>
                    <div class="item-menu">
                      <div class="icon-menus">
                        <span class="fa fa-ravelry "></span>
                      </div>
                      <p class="title-menu">Rate</p>
                    </div>
                    <div class="item-menu">
                      <div class="icon-menus">
                        <span class="fa fa-envelope "></span>
                      </div>
                      <p class="title-menu">Contac Us</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
