<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
<!-- favicon -->
<link href="images/favicon.ico" type="image/x-icon" rel="icon">
<!-- meta social -->
<meta name="twitter:card" content="" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="">
<meta property="og:title" content="" />
<meta property="og:type" content="">
<meta property="og:url" content="" />
<!-- Google Font -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<style media="screen">

.preload {
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 9999
}
.preload.loaded {
  display: none;
}
</style>
