<header class="header-container">
  <div class="header-content">
    <div class="container-fluid">
      <div class="row">
        <div class="center">
          <div class="body-header">
            <div class="logo">
              <a href="#">
                <img class="stl-img" src="../../images/logowhite.png" alt="logo">
              </a>
            </div>
            <div class="menu">
              <div class="book-now">
                <div class="body-booknow">
                  <div class="icon">
                    <span class="fa fa-bell"></span>
                  </div>
                <h3 class="title-booknow">Book Now</h3>
                </div>
              </div>
              <div class="icon-menu">
                <span class="fa fa-bars"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
