<header class="header-container">
  <div class="header-content">
    <div class="container-fluid">
      <div class="row">
        <div class="center">
          <div class="body-header">
            <div class="logo">
              <a href="#">
                <img class="stl-img" src="../../images/logowhite.png" alt="logo">
              </a>
            </div>
            <div class="menu">
              <div class="book-now">
                <div class="body-booknow">
                  <div class="icon">
                    <span class="fa fa-bell"></span>
                  </div>
                <h3 class="title-booknow">Book Now</h3>
                </div>
              </div>
              <div class="icon-menu">
                <span class="fa fa-bars"></span>
              </div>
              <div class="content-menu">
                <div class="close">
                  <span class="fa fa-times icon-close"></span>
                </div>
                <div class="body-menu">
                  <div class="menu-top">
                    <div class="home">
                      <span class="fa fa-home icon-menu-home"></span>
                      <p class="title-menu">The Villas</p>
                    </div>
                    <div class="the-detail">
                      <img class="img-menu" src="images/Icon_Details.svg" alt="icon the detail">
                      <p class="title-menu">The Deatail</p>
                    </div>
                    <div class="location">
                      <img class="img-menu" src="images/Icon_Location.svg" alt="icon the location">
                      <p class="title-menu">Locction</p>
                    </div>
                  </div>
                  <div class="menu-bottom">
                    <div class="gallery">
                      <img class="img-menu" src="images/Icon_Gallery.svg" alt="icon the gallery">
                      <p class="title-menu">gallery</p>
                    </div>
                    <div class="review">
                      <img class="img-menu" src="images/Icon_Review.svg" alt="icon review">
                      <p class="title-menu">Review</p>
                    </div>
                    <div class="rate">
                      <img class="img-menu" src="images/Icon_Review.svg" alt="icon rate">
                      <p class="title-menu">Rate</p>
                    </div>
                    <div class="contactus">
                      <img class="img-menu" src="images/Icon_ContactUs.svg" alt="icon Contact Us">
                      <p class="title-menu">Contac Us</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
