<!-- build:js(.) scripts/vendor.min.js -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->
<!-- build:js scripts/script.min.js -->
<script type="text/javascript" src="scripts/script.js"></script>
<!-- endbuild -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.js"></script>
<!-- js slick -->
<!--js gmap3-->
<script type="text/javascript"src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDZf7AM5UHzEA_bkzrT1YSFT8UEHijvA3E"></script>
<script type="text/javascript" src="scripts/gmap3.js"></script>
<script type="text/javascript" src="scripts/gmap3.min.js"></script>
<!-- end js gmap3-->
