.st-pos-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#slick-slide-control00 {
  display: none;
}
#slick-slide-control01 {
  display: none;
}
#slick-slide-control02 {
  display: none;
}
#slick-slide-control03 {
  display: none;
}
#slick-slide-control04 {
  display: none;
}
#slick-slide-control05 {
  display: none;
}
#slick-slide-control06 {
  display: none;
}
#slick-slide-control07 {
  display: none;
}
#slick-slide-control08 {
  display: none;
}
#slick-slide-control09 {
  display: none;
}
#slick-slide-control10 {
  display: none;
}
