$color-white: #fff;
$mgb-60: 47px;
$color-black: #000;
$rgba-white: rgba(255, 255, 255, .5);
$rgba-black: rgba(0, 0, 0, .5);
$bg-footer: rgba(6, 14, 57, .5);
$color-booknow: #d8d3d3;
$bg-content-menu: rgba(0, 9, 60, .7);
$bg-icon-menu: rgba(17, 17, 14, .3);
$hover-bg-icon-menu: rgba(17, 17, 14, .7);
$color-contact: #757474;
$border-form-contact: rgba(151, 151, 151, .3);
$color-form-contact: rgba(0, 0, 0, .8);
$bg-button-contact: rgba( 0, 75, 210, .8);
$hover-button-contact: rgba( 0, 75, 210, 1);
$text-shadow-contact: rgba(0, 0, 0, 0.50);
$booknow-slider-villas: #498cca;
$hover-bg-booknow: #e6e6e6;
$color-link: rgba(255, 255, 255, .7);
$color-icon-next: #444;
$title: rgba(255, 255, 255, .8);
$shodow-review: rgba(207, 207, 207, 0.23);
$color-date: rgba(0, 0, 0, .7);
$color-rate: #979797;
